// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: -apple-system,BlinkMacSystemFont, "Nunito","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #4299E1;
$indigo: #667EEA;
$purple: #9F7AEA;
$pink: #ED64A6;
$red: #F56565;
$orange: #F6AD55;
$yellow: #F6E05E;
$green: #48BB78;
$teal: #38B2AC;
$cyan: #6cb2eb;

$gray-100:#F7FAFC;
$gray-200: #EDF2F7;
$gray-300: #E2E8F0;
$gray-400: #CBD5E0;
$gray-500: #A0AEC0;
$gray-600: #718096;
$gray-700: #4A5568;
$gray-800: #2D3748;
$gray-900: #1A202C;

$theme-colors: (
  "purple": $purple,
  "pink": $pink,
  "indigo": $indigo,
  "teal": $teal,
  "orange": $orange,
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900
);
